<div class="container">
    <div class="upper-section">
        <!-- <mat-select [(value)]="missionSelected"
            style="padding: 5px; border-radius: 5px; width: 30%; background-color: white;">
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
        </mat-select> -->

        <div style="display: flex; flex-direction: column; align-items: center;">
            <span> {{ (selectedMission | async)!.MainDescription }} </span>
            <div
                style="display: flex; justify-content: center;border: 4px solid gray; border-top: 2px solid; border-radius: 70%;border-bottom: none; height: 70px; width: 70px; padding: 35px;">
                {{ (selectedMission | async)!.MissionCount }} دستور کار</div>
            <div style="display: flex; margin: 7px;">
                <div style="display: flex; align-items: center; margin: 7px;">
                    <div style="border-radius:30%; height: 10px; width: 20px; background-color: white; margin: 5px;">
                    </div>
                    موفق:{{ (selectedMission | async)!.SuccessMissionCount }}
                </div>
                <div style="display: flex; align-items: center; margin: 7px;">
                    <div style="border-radius:30%; height: 10px; width: 20px; background-color: yellow; margin: 5px;">
                    </div>
                    ناموفق: {{ (selectedMission | async)!.UnsuccessMissionCount}}
                </div>
                <div style="display: flex; align-items: center; margin: 7px;">
                    <div style="border-radius:30%; height: 10px; width: 20px; background-color: green; margin: 5px;">
                    </div>انجام نشده:{{ (selectedMission | async)!.MissionCount! - (selectedMission |
                    async)!.MissionDone!}}
                </div>
            </div>
        </div>
    </div>

    <div class="middle-section">
        <div style="margin: 0 15px; display: flex; flex-direction: column; align-items: center;">
            <p>{{ (selectedMission | async)!.DeliveryCount}}</p>
            <mat-icon fontIcon="outbox"></mat-icon>
        </div>

        <div style="margin: 0 15px; display: flex; flex-direction: column; align-items: center;">
            <p>{{ (selectedMission | async)!.BardashtKalaCount }}</p>
            <mat-icon fontIcon="list_alt"></mat-icon>
        </div>

        <div style="margin: 0 15px; display: flex; flex-direction: column; align-items: center;">
            <p>{{ (selectedMission | async)!.VosoolMotalebatCount }}</p>
            <mat-icon fontIcon="attach_money"></mat-icon>
        </div>

        <div style="margin: 0 15px; display: flex; flex-direction: column; align-items: center;">
            <p>{{ (selectedMission | async)!.TakingOrderCount }}</p>
            <mat-icon fontIcon="move_to_inbox"></mat-icon>
        </div>
    </div>

    <!-- <div class="bottom-section" style="width: 100%; justify-content: space-around; flex-wrap: wrap;">
        <div *ngFor="let detail of (selectedMission | async)!.MissionDetails;let i = index"
            style="width: 30%; padding: 5px;">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>دستورکار {{i+1 }}</mat-card-title>
                    <mat-card-subtitle>نام: {{ detail.PersonName }}</mat-card-subtitle>
                    <mat-card-subtitle>آدرس: {{ detail.Title }}</mat-card-subtitle>
                    <mat-card-subtitle>
                        <div *ngIf="detail.Type === 1" class="mission-type-style">
                            <mat-icon fontIcon="outbox"></mat-icon><span> دریافت سفارش</span>
                        </div>
                        <div *ngIf="detail.Type === 2" class="mission-type-style">
                            <mat-icon fontIcon="list_alt"></mat-icon><span> تحویل کالا</span>
                        </div>
                        <div *ngIf="detail.Type === 3" class="mission-type-style">
                            <mat-icon fontIcon="attach_money"></mat-icon><span> وصول مطالبات</span>
                        </div>
                        <div *ngIf="detail.Type === 4" class="mission-type-style">
                            <mat-icon fontIcon="move_to_inbox"></mat-icon><span> برداشت کالا</span>
                        </div>
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                        وضعیت: {{ setDetailStatus(detail.Status!) }}
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                        توضیحات: {{ detail.DetailDescription }}
                    </mat-card-subtitle>
                </mat-card-header>

                <button mat-raised-button (click)="openDialog(detail)" style="color: white;">تعیین وضعیت</button>
            </mat-card>
        </div>
    </div> -->
    <div style=" width: 95%;">
        <mat-grid-list [cols]="columnSize" style="background-color: aqua; width: 95%;">
            <mat-grid-tile *ngFor="let detail of (selectedMission | async)!.MissionDetails;let i = index">
                <mat-card class="card-style">
                    <mat-card-header>
                        <mat-card-title>دستورکار {{ i+1 }}</mat-card-title>
                        <mat-card-subtitle>نام: {{ detail.PersonName }}</mat-card-subtitle>
                        <mat-card-subtitle>آدرس: {{ detail.Title }}</mat-card-subtitle>
                        <mat-card-subtitle>
                            <div *ngIf="detail.Type === 1" class="mission-type-style">
                                <mat-icon fontIcon="outbox"></mat-icon><span> دریافت سفارش</span>
                            </div>
                            <div *ngIf="detail.Type === 2" class="mission-type-style">
                                <mat-icon fontIcon="list_alt"></mat-icon><span> تحویل کالا</span>
                            </div>
                            <div *ngIf="detail.Type === 3" class="mission-type-style">
                                <mat-icon fontIcon="attach_money"></mat-icon><span> وصول مطالبات</span>
                            </div>
                            <div *ngIf="detail.Type === 4" class="mission-type-style">
                                <mat-icon fontIcon="move_to_inbox"></mat-icon><span> برداشت کالا</span>
                            </div>
                        </mat-card-subtitle>
                        <mat-card-subtitle>
                            وضعیت: {{ setDetailStatus(detail.Status!) }}
                        </mat-card-subtitle>
                        <mat-card-subtitle class="descrition-style">
                            <span [title]="detail.DetailDescription">
                                توضیحات: {{ detail.DetailDescription }}
                            </span>
                        </mat-card-subtitle>
                    </mat-card-header>

                    <button mat-raised-button (click)="openDialog(detail)" style="color: white;">تعیین وضعیت</button>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>